@charset "UTF-8";
/*CSS Doc*/

.hidden
{
	display: none;
}

body {
	background-color: #e1ffbd;
}

#siteContainer {
	width: 1005px;
	margin: 0 auto;
	background-color: #51c9ff;
}

#mainHeader {
	display: flex;
	flex-direction: row;
	height: 269px;
	width: 1005px;
	background-color: #70ba1a;
}

#leftHead {
	display: flex;
	flex-direction: row;
}

.hp1 {
	width: 180px;
	height: 114px;
	background-color: #000;
	margin-top: 27px;
}

.hp2 {
	width: 194px;
	height: 119px;
	background-color: #000;
	margin-top: 35px;
	margin-left: 10px;
}

.logo {
	width: 285px;
	height: 245px;
	background-color: #000;
	margin-left: 10px;
	margin-right: 10px;
}

#rightHead {
	display: flex; 
	flex-direction: row;
	margin-left: auto;
}

.hp3 {
	width: 187px;
	height: 166px;
	background-color: #000;
	margin-top: 35px;
	margin-right: 10px;
}

.hp4 {
	width: 150px;
	height: 135px;
	background-color: #000;
	margin-top: 27px;
}

#navBar {
	display: flex;
	flex-direction: row;
	width: 1005px;
	background-color: #70ba1a;
}

.nav {
	width: 738px;
	height: 50px;
	background-color: #000;
	margin-right: auto;
	margin-bottom: 15px;
	margin-left: 181px;
}

.title
{
	width: 315px;
	height: 50px;
	background-color: #000;
	margin-left: 58px;
	margin-top: 30px;
}

.subHead
{
	width: 577px;
	height: 136px;
	background-color: #000;
	margin-left: 58px;
	margin-top: 15px;
}

.welcome
{
	display: flex;
	flex-direction: row;
}

.videoLink
{
	width: 479px;
	height: 298px;
	background-color: #000;
	margin-left: 58px;
	margin-top: 16px;
}

.paragraphOne
{
	width: 419px;
	height: 273px;
	background-color: #000;
	margin-top: 16px;
	margin-left: 20px;
	margin-bottom: 116px;
}

#sectionTwoTitle
{
	width: 315px;
	height: 38px;
	background-color: #000;
	margin-left: 80px;
}

.merchAndArticle
{
	display: flex;
	flex-direction: row;
}

.paragraphTwo
{
	width: 584px;
	height: 324px;
	background-color: #000;
	margin-left: 80px;
	margin-top: 20px;
}

.merchandise
{
	width: 300px;
	height: 244px;
	background-color: #000;
	margin-left: 10px;
	margin-top: 50px;
}

.sectionThreeTitle
{
	width: 240px;
	height: 43px;
	background-color: #000;
	margin-left: 364px;
	margin-top: 68px;
}

.paragraphThree
{
	width: 904px;
	height: 586px;
	background-color: #000;
	margin-left: 51px;
	margin-top: 6px;
}

.executives
{
	width: 220px;
	height: 40px;
	background-color: #000;
	margin-left: 406px;
	margin-top: 66px;
}

.executiveNames
{
	display: flex;
	flex-direction: row;
}

.paragraphFour
{
	width: 137px;
	height: 63px;
	background-color: #000;
	margin-left: 45px;
	margin-right: 30px;
	margin-top: 32px;
}

.committeeChairs
{
	width: 434px;
	height: 32px;
	background-color: #000;
	margin-left: 299px;
	margin-top: 35px;
}

.chairNamesOne
{
	display: flex;
	flex-direction: row;
}

.paragraphFive
{
	width: 130px;
	height: 60px;
	background-color: #000;
	margin-left: 156px;
	margin-top: 33px;
}

.chairNamesTwo
{
	display: flex;
	flex-direction: row;
}

.paragraphSix
{
	width: 238px;
	height: 98px;
	background-color: #000;
	margin-left: 180px;
	margin-top: 50px;
}